<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <div class="logo-brand d-flex justify-content-center align-items-center ms-1">
              <div class="logo mx-1">
                <i class='bx bx-code-alt logoFavicon'></i>
              </div>
              <div class="text-sec">
                Coder's
              </div>
          </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link  aria-current="page" href="#"><i class='bx bx-home'></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/frontend"><i class='bx bxl-html5'></i>Frontend</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/backend"><i class='bx bx-server'></i> Backend</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/database"><i class='bx bxs-data'></i> Database</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api"><i class='bx bx-transfer-alt'></i> API's</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about"><i class='bx bx-rss'></i> About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>